# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python 
# azure-monitor-opentelemetry 

azure-functions==1.23.0
azure-identity==1.23.1
azure-keyvault-secrets==4.10.0
openai==1.97.1